div#game {
    background: green;
    width: auto;
    height: 1000px;
}

.content {
  max-width: 100px;
  font-family: Courier New, monospace;
  position: absolute;
  font-size: 15px;
  color: black;
  padding-left: 10px;
  top: 40px;
}

.red {
  background: transparent url('/balloon-purple-aj.png') no-repeat;
  background-size: 120px 240px;
}

.blue {
  background: transparent url('balloon-yellow-aj.png') no-repeat;
  background-size: 120px 240px;
}

.bloon {
  float:left;
  display: block;
  width: 120px;
  height: 240px;
    position: relative;
    -webkit-animation: floatUp 1 normal ease-out;
    -moz-animation: floatUp 1 normal ease-out;
    animation: floatUp 1 normal ease-out;
}

/* animate the drops*/
@-webkit-keyframes floatUp {
    0% {
      top: 900px;
    }
    100% {
      top: 0px;
    }
}

@-moz-keyframes floatUp {
    0% {
      top: 900px;
    }
    100% {
      top: 0px;
    }
}

@keyframes floatUp {
    0% {
      top: 900px;
    }
    100% {
      top: 0px;
    }
}
